@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic);
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

button, input, textarea {
  font-family: 'Roboto', sans-serif; }

button {
  cursor: pointer; }

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%; }

input {
  outline: none; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px; }

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(307.5px, 308.5px));
  grid-gap: 15px;
  justify-content: center;
  margin-top: 10%; }

.card {
  box-shadow: 3px 3px 15px #9c9797; }
  .card_content {
    display: flex;
    flex-direction: column;
    padding: 15px; }
  .card_link {
    margin-left: auto;
    color: red; }

